# {{ page.title }}
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/name)]
## Description
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/section_desc)]  
{{ section_desc }}

## Pseudo code
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/section_pseudocode)]  
{{ section_pseudocode}}

## Complexity
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/section_complexity)]  
{{ section_complexity}}

## Education
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/section_edu)]  
{{ section_edu}}

## Applications
#### [[Edit]({{site.mgmtbase}}/{{page.title}}/section_app)]  
{{ section_app}}