<form class="navbar-form navbar-right" id="navbar_search">
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="navbar_search_tag" ahdata="">Tag</span> <span class="caret"></span></button>
      <ul class="dropdown-menu" id="navbar_search_tagList">
        <li><a href="javascript:void(0)" ahlink="search_tag" ahdata="">All Tags</a></li>
        <li role="separator" class="divider"></li>
      </ul>
    </div><!-- /btn-group -->
    <input type="text" class="form-control" placeholder="Title" id="navbar_search_title">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</form>
<script>
  ahjs.addConfig("searchBoxConfig", {
    tagUrl: "/tags.json",
    tagListID: "navbar_search_tagList",
    tagTemplate: "<li><a href='javascript:void(0)' ahlink='search_tag' ahdata='{DATA}'>{TITLE}</a></li>",
    tagID: "navbar_search_tag",
    titleID: "navbar_search_title",
    formID: "navbar_search",
    searchUrl: "{{site.searchbase}}/search",
    linkTemplate: "<p><a href='{URL}'>{TITLE}</a></p>"
  });
</script>
