---
layout: default
---
{% if page.modifier %}<i>By {{page.modifier}} <span class="glyphicon glyphicon-time"></span>{{ page.modtime }}</i>{% endif %}
{{ content }}
{% if page.comments %}
<hr/>
<h2>Comments</h2>
<div id="disqus_thread"></div>
<script>
// var disqus_config = function () {
// this.page.url = '{{ page.url }}';
// this.page.identifier = '{{ page.title }}';
// };
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://algohub.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endif %}