<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link href="{{site.cssbase}}/general.css" rel="stylesheet" />
    <script src="{{site.jsbase}}/ahbase.js"></script>
  </head>

  <body>
    <!-- Page header -->
    {% include header.html %}

    <!-- Page Content -->
    <div class="container">
      {{ content }}

      <!-- Page footer -->
      <hr/>
      {% include footer.html %}
    </div>

    <script src="{{site.jsbase}}/general.js"></script>
  </body>
</html>
